<div class="container home-sections d-flex flex-row justify-content-center align-items-center"> 
<div class = "images-section pt-3 d-none d-lg-block"></div>
<div class = "login-section pt-3">
    <div class = "card text-center pt-5" style = "with: 23rem;">
    <%# logo instagram %>
    <%= image_tag 'logo.png' , class: "card-img-top" %> <%#%>
    <div class ="card-body">
        <%# mb mt margin bottom margin top%>
        <div class= "mb-3 mt-4"> 
            <input type="email" class="forn-control" id="email" placeholder="Phone number, username, or email">

        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password">     
        </div>
        <a href="#" class="btn btn-primary d-lg-block">Log In </a>
    </div>

    </div>
</div>
</div>